@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@300&family=Roboto+Condensed:wght@300&family=Roboto:wght@300&family=Ubuntu&display=swap');

/* ensure no margins, border and paddings are added to elements */
* {
  margin: 0;
  padding: 0;
  border: none;
}

/* default font and color for the entire page */
body {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  color: #4c4c4c;
   background-color: #E4CED9;
}

/* header fixed */
header {
  position: fixed;
  top: 0;
  z-index: 9999;
  overflow: hidden;
  background-color: white;
  width: 100%;
}

/* Main Title and banner  */
h1,
h2 {
  font-family: 'Gluten', cursive;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #252525;
}

#title {
  float: left;
  font-size: 260%;
  margin-left: 20px;
  line-height: 60px;
}

/* Navigation menu bar */
#menu-bar {
  float: right;
  font-size: 100%;
  letter-spacing: 3px;
}

#menu-bar li {
  font-family: 'Gluten', cursive;
  font-weight: bold;
  float: left;
  margin-right: 20px;
  list-style-type: none;
  line-height: 60px;
}

#menu-bar a:hover,
.footer-menu a:hover {
  border-top: 1px solid #252525;
  border-bottom: 1px solid #252525;
}

/* remove decoration from anchor elements attached to menu-bar a=nd video items on the site */
#menu-bar a,
.videoitem a {
  text-decoration: none;
  color: #252525;
}

.videoitem a {
  font-style: italic;
}

.videoitem a:hover {
  color: white;
  background-color: #252525;
}

/* the main contains all the sections and is set to flex */
main {
  display: flex;
  flex-direction: column;
}

/* Banner image */
#banner-section {
  height: 70vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  top: 3.7rem;
}

#banner-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  animation-name: zoom-banner;
  animation-duration: 5s;
  animation-fill-mode: both;
}

/* Add animation to the banner */
@keyframes zoom-banner {
  from {
    transform: scale(0.9);
  }

  to {
    transform: scale(1);
  }
}

/* Add brief description of the banner on banner text. Idea borrowed from Love Running Site */
#banner-text {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  width: 70%;
  height: 4rem;
  padding-top: 20px;
  padding-left: 10px;
  background-color: rgba(52, 42, 192, 0.7);
  bottom: 6rem;
  position: relative;
  border-radius: 10%;
  margin: 0 auto;
}

/* Reference where the banner image was obtained from */
#banner-ref {
  position: relative;
  bottom: 8rem;
  background-color: white;
  width: 10%;
  border-radius: 10%;
}
#banner-ref a {
  color: #252525;
  text-decoration: none;
  font-size: 90%;
}

#banner-text>h2 {
  color: #ffffff;
  font-size: 120%;
  margin: 0 auto;
}

.full-line {
  border-top: 1px solid #252525;
  width: 100%;
  margin: 3px 0;
}

/* Section for the history text of yams */
#history-section {
  width: 90%;
  margin: 0 auto;
  padding-top: 4.2rem;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}

#history-text-2{
  background-color: #E5621A;
}

#history-text-1{
  background-image: linear-gradient( rgba(26, 157, 229, 0.7),   rgba(24, 133, 192, 0.7));
}

/* Format of the text on the paragraphs */
.history-div p {
  padding-top: 10px;
  line-height: 2rem;
}

/* some breathing space between the text and the image gallery */
.history-div {
  text-align: start;
  display: flex;
  flex-direction: column;
  width: 45%;
  padding: 1rem;

}
.history-div-text {
  background-color: #CEE4D9;
  padding: 1rem;
}

.history-div img {
  width: 100%;
}

.history-div>h2 {
  text-align: center;
}

/* Image gallery of yam festivals */
#image-gallery {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

/* image gallery will display 1 per column*/
.image {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  box-sizing: border-box;
  line-height: 2rem;
  margin: 0 auto;
  text-align: justify;
  padding: 1rem;
}

.caption {
  text-align: left;
  width: 98%;
  height: auto;
  line-height: 2rem;
  position: relative;
  color: #252525;
  background-color: #fff;
  padding: 0 1%;
}
em {
  font-size: 90%;
}

.image>figure>img {
  width: 100%;
  height: auto;
}

section>h2 {
  width: 100%;
  margin: 1rem 0 auto;
  text-align: center;
}

.image-intro-line {
  width: 20%;
  margin: 0 auto;
  padding-bottom: 1rem;
}

/* same line height with the other text at the left of the page */
.image-column p {
  line-height: 2rem;
}

/* Festivals  and Igbo tribe section with videos */
#festival-section,
#igbo-section {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.videoitem,
.igbo-item {
  display: flex;
  /* ensures 2 column display for large screens */
  width: 48%;
  flex-direction: column;
  box-sizing: border-box;
  padding-top: 1rem;
  margin: 0 auto;
  text-align: justify;
  padding: 1rem;
  line-height: 2rem;
}

.videoitem>video {
  width: 100%;
  height: auto;
}

iframe {
  width: auto;
  height: 20rem;
}

.videoitem p,
.igbo-item p {
  padding-top: 1rem;
  text-align: start;
}

/* footer section */
footer {
  text-align: center;
  width: 100%;
  overflow: hidden;
  font-size: 1rem;
  padding: 0.5% 1%;
  margin-top: 15px;
  background-color: white;
}

.footer-menu span a {
  margin: 10px 20px 20px 0;
  text-decoration: none;
  color: #252525;
  letter-spacing: 3px;
}

.footer-menu {
  margin: 10px 0;
  font-family: 'Gluten', cursive;
  font-weight: bold;
}

.contact-us span {
  margin-top: 10px;
}

.contact-us span a {
  margin: 0 30px 5px 30px;
  color: #252525;
  font-size: 150%;
  text-decoration: none;
}


/* Media queries 

 For larger to medium screens size from 1050px width and down. The point that our 2 column image reduces  to 1 */
@media screen and (max-width: 1050px) {
  #title {
    font-size: 160%;
    line-height: 4rem;
  }

  /* single colum stak */
  .history-div {
    width: 100%;
  }

  /* reduce our sub title text to be in line with reduced screen  */
  h1,
  h2 {
    font-size: 100%;
  }

  /* force to a single column stacking of video*/
  .videoitem,
  .igbo-item {
    width: 100%;
    height: auto;
  }

  iframe {
    height: 15rem;
  }
}


/* For screens from 780px and below. The point that our navigation menu gets distorted. We
shift the menu to the left. ALso change our image gallery to single column  */

@media screen and (max-width: 780px) {
  #menu-bar {
    float: left;
    /* align with the page title  */
    margin-left: 20px;
  }
  #banner-ref {
    font-size: 80%;
    bottom: 10rem;
  }
  #image-gallery {
    margin: 0 auto;
    flex-wrap: nowrap;
    flex-direction: column;
  }

/* introduce the divider small lines for each image div */
  .image-intro-line {
    border-top: 2px solid #252525;
  }
  
  .footer-menu {
    font-size: 90%;
  }
}

/* For screens from 500px and below, the row of social media links get distorted, 
 need to reduce the spacing; also reduce the font size of the title, reduce space to the left and align with the menu*/

@media screen and (max-width: 500px) {

  /* the row of social media links get distorted, need to reduce the spacing */
  .contact-us span a {
    margin: 0 5px;
    font-size: 100%;
  }

  #menu-bar {
    margin-left: 0.4rem;
    font-size: 90%;
  }

  #title {
    font-size: 120%;
    margin-left: 0.4rem;
  }

}